.text {
  width: 80%;
  height: 32px;
  border-radius: 4px;
}

.bar {
  width: 32px;
  max-height: 200px;
  border-radius: 4px;

  &One {
    height: 200px;
  }

  &Two {
    height: 140px;
  }

  &Three {
    height: 100px;
  }
}
