._text_kp4s2_1{width:80%;height:32px;border-radius:4px}._bar_kp4s2_7{width:32px;max-height:200px;border-radius:4px}._barOne_kp4s2_12{height:200px}._barTwo_kp4s2_15{height:140px}._barThree_kp4s2_18{height:100px}
