.mainNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: none !important;
}

.menuLinkIcon {
  font-size: 20px !important;
  padding-top: 6px;
  transition: none !important;
}

.menuLinkText {
  font-size: 12px;
  line-height: 1;
  padding: 4px 0 8px 0;
  transition: none !important;
}
