.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.leftText {
  width: 60px;
  height: 16px;
  border-radius: 4px;
}

.kcalText {
  width: 30px;
  height: 16px;
  border-radius: 4px;
}
