.formField {
  --padding-left: 0;
  --padding-right: 0;
  --font-size: var(--adm-font-size-main);

  :global {
    .adm-list-body {
      border: none;

      .adm-list-item {
        padding: 0;

        &-content {
          padding: 0;

          &-main {
            padding: 6px 0;
          }
        }
      }
    }
  }
}

.tabsContainer {
  height: 70vh;

  :global {
    .adm-capsule-tabs-content {
      height: calc(100% - 58px);
    }
  }
}
